# WordPress files
# wordpress/

# Database backups
*.sql
*.sql.gz

# Duplicator archives
*.zip
installer.php
installer-backup.php
installer-log.txt
dup-installer/

# Docker volumes
db_data/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
wp-content/debug.log
wordpress/wp-content/debug.log
*.log.gz

